@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

footer {
    text-align: center;
    padding: 2rem 0rem;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.heading {
    text-align: center;
    font-size: 5rem;
    color: #000967;
}

.sub-heading {
    text-align: center;
    color: #7b7b7b;
}

.input-div {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
    gap: 1rem;
}

.user-input {
    text-align: center;
    font-size: 1.3rem;
    border-radius: 10px;
    border: 1px solid #777777;
    padding: 0.5rem 0.2rem;
    outline: none;
}

.markdown-content {
    padding: 2rem 0.7rem;
}

.submit-btn {
    font-size: 2rem;
    border-radius: 100%;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}
